{% extends 'base.html' %}

{% block content %}
  <div class="d-flex flex-wrap">
  {% for car in cars %}
    <div class="card m-3" style="width: 18rem;">
        <div class="card-body list-group-item-info">
            <h5 class="card-title text-center">{{ car.company }} - {{ car.model }}</h5>
            <img src="/{{ car.image }}" class="card-img-top" alt="Фото {{ car.company }} - {{ car.model }}"
            style="max-width: 250px; max-height: 180px;">
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item bg-light"><strong>Год выпуска:</strong> {{ car.year}}</li>
            <li class="list-group-item bg-light"><strong>Коробка передач:</strong>
                {% if car.transmission == 1 %}
                  механика (1)
                {% elif car.transmission == 2 %}
                  автомат (2)
                {% elif car.transmission == 3 %}
                  робот (3)
                {% endif %}</li>
            <li class="list-group-item bg-light"><strong>Цвет:</strong> {{ car.color }}</li>
        </ul>
    </div>
  {% endfor %}
  </div>
{% endblock %}